.button {
  line-height: 40px;
  background-color: #444444;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  background-color: #79aa89;
  transition: 0.2s;
}

.button.active {
  border-radius: 20px;
  background-color: #79aa89;
}